// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import '../../theme/color';
$font-stack: 'Open Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  margin: 0;
}

v-app {
  font-family: $font-stack;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

main {
  .v-card__title {
    background: $primary;
    h1 {
        color: $white;
        text-transform: capitalize;
    }
  }
}